{% extends "templates/app.twig" %}

{% block container %}
<div class="panel panel-default">
    <div class="panel-heading">Giełda towarowa</div>
    <div class="panel-body">
        
    </div>
</div>
{% endblock %}
